<div class="page-content">
  <h1>Results: <%= params[:q] %></h1>

  <div class="l-search-main">
    <h2>Pieces:</h2>

    <!-- List Pieces-->
    <div class="search-pieces">
      <% @pieces.each_with_index do |piece, i| %>

        <div class="piece-search-column">
          <%= render partial: "pieces/piece", locals: {piece: piece, i: i} %>
        </div>

      <% end %>
    </div>
    <!-- List Pieces End-->

    <!-- Pagination-->
    <%= paginate @pieces %>
  </div>

  <div class="l-search-side">
    <div class="search-users">
      <h1>Users:</h1>
      <% @users.each do |user| %>
        <a href="<%=user_path user%>"><%= image_tag user.avatar_url(:small), class: "avatar-tiny"%></a>
        <a href="<%= user_path(user) %>"><%= user.username %></a>
      <% end %>
    </div>
  </div>
</div>