<div class="page-content">
  <h1>Results: <%= params[:q] %></h1>

  <div class="search-pieces">
    <h2>Pieces:</h2>

    <!-- List Pieces-->
    <div class="col-lg-9">
      <% @pieces.each_with_index do |piece, i| %>

        <div class="piece-index-column">
          <div class="card">
            <div class="card-piece-main">
              <div class="card-piece-main-image" >
                <%= image_tag piece.image_url%>
              </div>
              <div class="card-piece-main-overlay">
                <%= link_to "Piece", piece_path(piece, offset: piece_index_offset(i) , list: @list) %>
                <h4><%= piece.title %></h4>
                <p><%= truncate(piece.description, length: 140) %></p>
                <div class="card-piece-main-overlay-footer">
                  <em class="card-user">
                    <%= image_tag piece.user.avatar_url(:small), class: "avatar-tiny"%><!--
                 --><%= link_to piece.user.username, user_path(piece.user) %>
                  </em>
                </div>
              </div>
            </div>
            <div class="card-piece-footer">
              <span class="card-piece-footer-links">
                <span class="icon icon-views"><%= piece.views_count %></span>
                <a href="#" class="icon icon-comments"><%= piece.comments_count %></a>
                <a href="#" class="icon icon-likes"><%= piece.cached_votes_up %></a>
              </span>
            </div>
          </div>
        </div>

      <% end %>
    </div>
    <!-- List Pieces End-->

    <!-- Pagination-->
    <%= paginate @pieces %>
  </div>

  <div class="search-users">
    <h1>Users:</h1>
    <% if params[:q] %>
      <p>param <%= params[:q] %></p>
    <% end %>
    <% @users.each do |user| %>
      <a href="<%= user_path(user) %>"><%= user.username %></a>
    <% end %>
  </div>
</div>