<h1>User Profile</h1>

<hr>
<h3>Your Avatar:</h3>

<%= image_tag @user.avatar_url :small %>

<%= simple_form_for @user, html: { multipart: true } do |f| %>

  <%= f.input :avatar %>

  <%= f.button :submit, "Upload Now" %>
<% end %>

<hr>

<%= simple_form_for @user  do |f| %>

    <%= f.input :name, autofocus: true %>
    <%= f.input :username %>
    <%= f.input :email%>
    <%= f.input :bio %>

    <%= f.button :submit, "Update Settings" %>
<% end %>

<hr>




