<h2>User Profile</h2>

<%= simple_form_for @user  do |f| %>

    <%= f.input :name, autofocus: true %>
    <%= f.input :username %>
    <%= f.input :email%>
    <%= f.input :bio %>

    <%= f.button :submit, "Update Settings" %>
<% end %>

<h3>Your Avatar:</h3>

<%= image_tag @user.avatar_url :thumb %>

<%= simple_form_for @user, html: { multipart: true } do |f| %>

    <%= f.input :avatar %>

    <%= f.button :submit, "Upload Now" %>
<% end %>

