<div class="page-content">
  <h1 class="form-header">User Profile</h1>
  <div class="user-edit">
    <div class="form-container">
      <div class="user-edit-form">
        <%= simple_form_for @user  do |f| %>
            <%= f.input :name, autofocus: true %>
            <%= f.input :username %>
            <%= f.input :email%>
            <%= f.input :bio %>
            <div class="form-submit">
              <%= f.button :submit, "Update Settings" %>
            </div>
        <% end %>
      </div>

      <div class="user-edit-form-avatar">
        <!--<h3>Your Avatar:</h3>-->
        <div class="img-container">
          <%= image_tag @user.avatar_url :small %>
        </div>
        <%= simple_form_for @user, html: { multipart: true } do |f| %>
          <%= f.input :avatar, label: false %>
          <div class="form-submit">
            <%= f.button :submit, "Upload Now" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


