<div class="l-user-show-hero">
  <div class="user-hero">
    <%= image_tag avatar_url(@user, :small)%>
    <h1><%= @user.name %></h1>
    <p><%= @user.bio %></p>
  </div>
</div>

<div class="page-content">
  <div class="l-index-main">

    <!-- List Pieces-->
    <% @pieces.each_with_index do |piece, i| %>

      <!-- Single Piece-->
      <div class="piece-index-column">
        <%= render partial: "pieces/piece", locals: {piece: piece, i: nil} %>
      </div>
      <!-- Single Piece End-->

    <% end %>
    <!-- List Pieces End-->

    <!-- Pagination-->
    <%= paginate @pieces %>

  </div>
</div>