<div id="crop_area">
</div>

TEST AJAX

x - <%= text_field_tag(:crop_x) %>
y - <%= text_field_tag(:crop_y) %>
height - <%= text_field_tag(:crop_height) %>
width - <%= text_field_tag(:crop_width) %>

<div class="img-preview preview-lg"></div>
<div class="img-preview preview-sm"></div>

<%= button_tag "Upload", id: "upload"%>
