<div class="card">

  <div class="card-piece-main">
    <div class="card-piece-main-image" >
      <%= image_tag piece.image_url%>
    </div>

    <div class="card-piece-main-overlay">
      <%= link_to "Piece", piece_path(piece, offset: piece_index_offset(i) , list: @list) %>
      <h4><%= piece.title %></h4>
      <p><%= truncate(piece.description, length: 60) %></p>
      <div class="card-piece-main-overlay-footer">
        <em class="card-user">
          <%= image_tag avatar_url(piece.user, :small), class: "avatar-tiny"%><!--
       --><%= link_to piece.user.username, user_path(piece.user) %>
        </em>
      </div>
    </div>

  </div>

  <div class="card-piece-footer">
    <span class="card-piece-footer-links">
      <span class="icon icon-views"><%= piece.views_count.to_i %></span>
      <a href="<%= piece_path(piece, offset: piece_index_offset(i) , list: @list) %>" class="icon icon-comments"><%= piece.comments_count.to_i %></a>
      <a href="<%= piece_path(piece, offset: piece_index_offset(i) , list: @list) %>" class="icon icon-likes"><%= piece.cached_votes_up.to_i %></a>
    </span>
  </div>

</div>
