<h1>Pieces#edit</h1>

<%= image_tag @piece.image_url %>

<%= simple_form_for @piece do |f| %>

  <%= f.input :published, as: :hidden, input_html: {value: true} %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.association :category, include_blank: false %>

  <div class="actions">
    <%= f.button :submit, "Publish" %>
    <%= link_to "Cancel", piece_path(@piece), method: :delete %>
  </div>


<% end %>