<h1>Pieces#edit</h1>

<%= image_tag @piece.image_url %>

<%= form_for @piece do |f| %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>


  <div class="actions">
    <%= f.submit "Publish" %>
  </div>

<% end %>