<h1>Pieces:</h1>
<% if params[:q] %>
  <p>param <%= params[:q] %></p>
<% end %>
<% @pieces.each_with_index do |piece, i| %>
  <%= image_tag piece.image_url %>
  <h3>Title: <%= piece.title %></h3>
  <%= link_to "Delete", piece_path(piece), method: :delete %>
  <%= link_to "Show", piece_path(piece, offset: i, list: @list) %>
  <hr>
<% end %>