<div class="page-content">
  <div class="l-signup-main">
    <div class="form-container">
      <div class="form-header">
        <h1>Tattoo Rack</h1>
        <h3>Sign In</h3>
      </div>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <%= f.input :email, autofocus: true %>
        <%= f.input :password, autocomplete: "off" %>

        <div class="form-submit">
          <div class="links">
            <%= render "devise/shared/links" %>
          </div>
          <%= f.button :submit, "Sign In" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <%= f.input :remember_me, as: :hidden, input_html: {value: f.object.remember_me || '1'}  %>
        <% end -%>
      <% end %>
    </div>
  </div>
</div>