<%= link_to "Users", users_path %>
<%= link_to "Pieces", pieces_path %> |
<%= link_to "Tattoos", pieces_path(list: "tattoo") %> |
<%= link_to "Flash", pieces_path(list: "flash") %> |
<%= link_to "Artwork", pieces_path(list: "artwork") %> |
<%= link_to "Inspiration", pieces_path(list: "inspiration") %> |

<% if current_user.present? %>
  <!--Logged In-->
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  <%= link_to "Account Settings", edit_user_path(current_user) %>
  <%= link_to "Create Piece", new_piece_path %> |
  <span > <%=current_user.name%> </span> |
<% else %>
  <!--Logged Out-->
  <%= link_to "Sign Up", new_user_registration_path %>
  <%= link_to "Sign In", new_user_session_path %>
<% end %>