<nav class="nav-container">
  <div id="site-nav" class="sitenav">
    <a href="<%= root_path %>"><div class="nav-container-logo"></div></a>
    <ul>
      <span class="public-nav">
        <li class="sitenav-item sitenav-sublist" id="pieces_dropdown">
          <a href=<%=pieces_path%>>
            Pieces
            <ul>
              <li class="sitenav-item">
                <%= link_to "Tattoos", pieces_path(list: "tattoo") %>
              </li>
              <li class="sitenav-item">
                <%= link_to "Flash", pieces_path(list: "flash") %>
              </li>
              <li class="sitenav-item">
                <%= link_to "Artwork", pieces_path(list: "artwork") %>
              </li>
              <li class="sitenav-item">
                <%= link_to "Inspiration", pieces_path(list: "inspiration") %>
              </li>
            </ul>
          </a>
        </li>
        <li class="sitenav-item"><%= link_to "Artists", users_path %></li>
      </span>
      <span class="user-nav">
        <% if current_user.present? %>
          <li class="sitenav-item sitenav-sublist" id="user_dropdown">
            <a href=<%=user_path(current_user)%>>
              <%= current_user.name %>
              <ul>
                <li class="sitenav-item">
                  <%= link_to "Account Settings", edit_user_path(current_user) %>              </li>
                <li class="sitenav-item">
                  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
                </li>
              </ul>
            </a>
          </li>
          <li class="sitenav-item notification_button" id="notifications_button">
            <span class="icon icon-notifications"><span id="notifications-count" class="notifications-count"></span></span>
            <div id="notifications_panel" class="notifications_panel"></div>
          </li>
          <li class="sitenav-item"><a id="create" href="<%= new_piece_path %>"><span class="icon icon-upload"></span></a></li>
        <% else %>
          <li class="sitenav-item"><%= link_to "Sign Up", new_user_registration_path %></li>
          <li class="sitenav-item">  <%= link_to "Sign In", new_user_session_path %></li>
        <% end %>

        <%= form_tag search_path, method: :get, id: "search_form", class: "search_form" do %>
          <div class="search_form-icon"></div>
          <%= text_field_tag :q, nil, placeholder: "Search", class: "search_form-field"%>
        <% end %>
      </span>
    </ul>
  </div>

  <script>
    $(function(){
      $('#site-nav > ul').slicknav();
      $('#site-nav').pulldown();
    });
  </script>
</nav>