<!DOCTYPE html>
<html>
<head>
  <title>TattooRackA</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="nav">
  <%= render partial: "layouts/nav" %>
</div>

<hr>

<div id="Flash">
  <%= render partial: "layouts/flash" %>
</div>

<div id="main">
  <%= yield %>
</div>

</body>
</html>
