<!DOCTYPE html>
<html>
<head>
  <title>Tattoo Rack</title>
  <%= favicon_link_tag 'eye_24.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="nav">
    <%= render partial: "layouts/nav" %>
  </div>

  <div id="flash">
    <%= render partial: "layouts/flash" %>
  </div>

  <div id="main">
    <%= yield %>
  </div>

  <footer class="footer">
    <%= render partial: "layouts/footer" %>
  </footer>

</body>
</html>
